<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    
    <div class="carousel-inner">
       
        
        <div class="carousel-item active">
            <img src="static/images/drg2.jpg" class="d-block w-100 slider-image" alt="carousel-image-1">
            <div class="carousel-caption   align-items-center">
                <br>
                <button class="btn-on-carousel">Call us 985588****</button>
                <br>
                <p class="carousel-p">Life won't change until you make the decision to change.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="static/images/drg1.jpg" class="d-block w-100 slider-image" alt="carousel-image-2">
            <div class="carousel-caption   align-items-center">
                <button class="btn-on-carousel">Call us 985588****</button>
                <p class="carousel-p">Addiction is not a choice, but recovery is.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="static/images/drg3.jpg"  class="d-block w-100 slider-image" alt="carousel-image-3">
            <div class="carousel-caption   align-items-center">
                <button class="btn-on-carousel">Call us 985588****</button>
                <p class="carousel-p">Every day is a new opportunity to choose a drug-free life.</p>
            </div>
        </div>
        
    </div>

</div>