

    .nav-item a {
        color: blue;
    }


    .nav-item.active a {
        color: red;
    }


.slider-image{
    height: 650px!important;
    object-fit: cover;
}
 
.service_icon{
    font-size: 90px;
    padding-bottom: 8px;
    color: #50b177;
}



.background1{
    
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.service_cards{
    height : 500px;
    text-align: center;
    transition: 1s;

}

.service_cards:hover {
    color: white;
    /* background-color:#50b177; */
    background-color: #AC3B61;
    
    
    
}

.btn-on-carousel {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 32px;
    border: none;
    background-color: #50b177;
    color: white;
    font-weight: 350;
    /* width: 250px; */
    font-size: 26px;

}

.phone{
    position: fixed;
    z-index: 1;
    top: 400px;
    /* right: 20px; */
    /* right: 300px; */
    

}

.carousel-h{
font-size: 38px;
}



.carousel-p {
    font-size: 40px;
}

/* styling shaking phone number */
.contact-btn {
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 32px;
    border: none;
    background-color: #50b177;
    color: white;
    font-weight: 350;
    font-size: 26px;
    position: fixed;
    /* animation: mymove 4s infinite; */
    -webkit--user-select: none;
    touch-action: manipulation;
    
    
}

/* @keyframes mymove {
    from {
        top: 300px;
    }

    to {
        top: 500px;
    }
    from {
        top: 500px;
        
    }

    to {
        top: 300px;
    }
} */

.contact-btn:before {
    content: "hello";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: 2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    transition: opactiy 0.3s ease-in-out;
    border-radius: 25px;
}

.contact-btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #50b177;
    left: 0;
    top: 0;
    border-radius: 25px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}




@media (max-width : 500px) {

    .carousel-caption p {
            font-size: 1.1em;
        }
    

    /* .carousel-button{
        font-size: 18px;

    }
    .carousel-p {
        font-size: 18px;

    } */

    .btn-on-carousel{
        border-radius: 25px;
        border: none;
        background-color: #50b177;
        color: white;
        font-weight: 300;
        /* width: 150px; */
        font-size: 18px;

    }
    .contact-btn{
        border-radius: 25px;
        border: none;
        background-color: #50b177;
        color: white;
        font-weight: 300;
        width: 150px;
        font-size: 18px;
        user-select: none;
         

    }

    @keyframes mymove {
        from {
            top: 400px;
        }

        to {
            top: 420px;
        }
    }


}